<!DOCTYPE html>
<html lang = "ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Корзина</title>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/cart.css}">
</head>
<body>
    <header th:replace="~{fragments/header :: header(${role}, 'Корзина')}"></header>
    <div>
        <div class="item">
            <a href="dsad" class="notav">цыуевкнаегпншрощлщ</a>
            <div class="numbers">
                <p>Цена: ₽</p>
                <p>Осталось: шт.</p>
            </div>
            <div class="counter">
                <button>-</button>
                <span>1</span>
                <button>+</button>
            </div>
            <button>Удалить</button>
        </div>
        <div class="item">
            <a href="dsad" >увкаемпрниотльдбжю</a>
            <div class="numbers">
                <p>Цена: ₽</p>
                <p>Осталось: шт.</p>
            </div>
            <div class="counter">
                <button>-</button>
                <span>1</span>
                <button>+</button>
            </div>
            <button>Удалить</button>
        </div>
        <h1>
            Итоговая стоимость:
            <span> ₽</span>
        </h1>
    </div>
</body>
</html>