<!DOCTYPE html>
<html lang = "ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Корзина</title>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/cart.css}">
</head>
<body>
    <header th:replace="~{fragments/header :: header(${role}, 'Корзина')}"></header>
    <div>
        <p th:if="${(error == null) and (goods.isEmpty())}" id="empt">Корзина пуста</p>
        <p th:if="${error}" style="color: #af3535; padding: 1em;">Нет соединения с сервисом. Пожалуйста, попробуйте позже</p>
        <div th:each="item : ${goods}" class="item">
            <a th:href="@{'/good/' + ${item.good.id}}" th:text="${item.good.name}" th:classappend="${item.good.canBeSold} ? '' : 'notav'"></a>
            <div class="numbers">
                <p th:text="'Цена: ' + ${item.good.price} + ' ₽'" class="price"></p>
                <p th:text="'Осталось: ' + ${item.good.amount} + ' шт.'"></p>
            </div>
            <div class="counter">
                <button>-</button>
                <span th:text="${item.amount}"></span>
                <button>+</button>
            </div>
            <button>Удалить</button>
        </div>
        <h1>
            Итоговая стоимость:
            <span id="totprice">0</span> ₽
        </h1>
    </div>
</body>
</html>