<!DOCTYPE html>
<html lang = "ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:if="${error}">Не найдено</title>
    <title th:if="${error == null}" th:text="${good.name}"></title>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/good.css}">
</head>
<body>
    <header th:replace="~{fragments/header :: header(${role}, '')}"></header>
    <div>
        <p th:if="${error}" style="font-size: 20px; color: #af3535; padding: 1em;">Товар не найден</p>
        <h1 th:if="${(error == null) and (role == 'CUSTOMER')}" th:text="${good.name}"></h1>
        <p th:if="${(error == null) and (role == 'CUSTOMER') and good.canBeSold}" id="statusval">Открыт к продаже</p>
        <p th:if="${(error == null) and (role == 'CUSTOMER') and !good.canBeSold}" id="statusval">Не продаётся</p>
        <p th:if="${(error == null) and (role == 'CUSTOMER')}" id="priceval" th:text="'Цена: ' + ${good.price} + ' ₽'"></p>
        <p th:if="${(error == null) and (role == 'CUSTOMER')}" id="amountval" th:text="'Осталось: ' + ${good.amount} + ' шт.'"></p>
        <button th:if="${(error == null) and (role == 'CUSTOMER')}" th:attr="goodid=${good.id}" class="notin">Добавить в корзину</button>
        <form th:if="${(error == null) and (role == 'OWNER')}" method="post">
            <div>
                <label for="name">Название:</label>
                <input type="text" id="name" name="name" th:placeholder="${good.name}">
            </div>
            <div>
                <label for="price">Цена:</label>
                <input type="text" id="price" name="price" th:placeholder="${good.price}">
            </div>
            <div>
                <label for="amount">Количество:</label>
                <input type="text" id="amount" name="amount" th:placeholder="${good.amount}">
            </div>
            <select id="statuses" name="canBeSold">
                <option value="1" th:selected="${good.canBeSold}">Открыт к продаже</option>
                <option value="0" th:selected="${!good.canBeSold}">Не продаётся</option>
            </select>
            <p th:if="${(error == null) and (param.alterr != null) and (param.errnum == null) and (param.errtkn == null) and (param.addsucc == null)}" style="color: #af3535;">Произошла ошибка, попробуйте ещё раз</p>
            <p th:if="${(error == null) and (param.alterr == null) and (param.errnum != null) and (param.errtkn == null) and (param.addsucc == null)}" style="color: #af3535;">Цена и количество должны быть положительными числами</p>
            <p th:if="${(error == null) and (param.alterr == null) and (param.errnum == null) and (param.errtkn != null) and (param.addsucc == null)}" style="color: #af3535;">Товар с таким названием уже существует</p>
            <p th:if="${(error == null) and (param.alterr == null) and (param.errnum == null) and (param.errtkn == null) and (param.addsucc != null)}" style="color: #00ff00;">Товар обновлён</p>
            <button type="submit">Внести изменения</button>
        </form>
    </div>
    <script th:if="${role == 'CUSTOMER'}" th:src="@{/js/cart_add.js}"></script>
</body>
</html>