<!DOCTYPE html>
<html lang = "ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>???</title>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/good.css}">
</head>
<body>
    <header th:replace="~{fragments/header :: header(${role})}"></header>
    <div>
        <h1>DRCTFVYGBUHJNKRDTFYGUH</h1>
        <p id="statusval">Открыт к продаже</p>
        <p id="priceval">Цена: ₽</p>
        <p id="amountval">Осталось: шт.</p>
        <form>
            <div>
                <label for="name">Название:</label>
                <input type="text" id="name" name="name" placeholder="">
            </div>
            <div>
                <label for="price">Цена:</label>
                <input type="text" id="price" name="price" placeholder="">
            </div>
            <div>
                <label for="amount">Количество:</label>
                <input type="text" id="amount" name="amount" placeholder="">
            </div>
            <select id="statuses">
                <option>Открыт к продаже</option>
                <option>Не продаётся</option>
            </select>
            <button type="submit">Внести изменения</button>
        </form>
    </div>
</body>
</html>