<!DOCTYPE html>
<html lang = "ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная</title>
    <link th:href="@{/css/header.css}" rel="stylesheet" >
    <link th:href="@{/css/search.css}" rel="stylesheet" >
    <link th:href="@{/css/main.css}" rel="stylesheet" >
</head>
<body>
    <header th:replace="~{fragments/header :: header(${role}, 'Главная')}"></header>
    <h1 th:text="'Найдено товаров: ' + ${numfound}"></h1>
    <div>
        <form id="search">
            <div><input type="text" name="searchname" placeholder="Название" th:value="${param.name}"></div>
            <button type="submit">Найти</button>
        </form>
        <p th:if="${error}" style="color: #af3535; padding: 1em;">Нет соединения с сервисом. Пожалуйста, попробуйте позже</p>
        <form th:if="${(error == null) and (role == 'OWNER')}" method="post" id="goodadd">
            <p>Добавить товар:</p>
            <div>
                <input type="text" id="name" name="name" placeholder="Название" required>
            </div>
            <div>
                <input type="text" id="price" name="price" placeholder="Цена" required>
            </div>
            <p th:if="${(error == null) and (param.adderr != null) and (param.errnum == null) and (param.errempt == null) and (param.errtkn == null) and (param.addsucc == null)}" style="color: #af3535;">Произошла ошибка, попробуйте ещё раз</p>
            <p th:if="${(error == null) and (param.adderr == null) and (param.errnum != null) and (param.errempt == null) and (param.errtkn == null) and (param.addsucc == null)}" style="color: #af3535;">Цена должна быть положительным числом</p>
            <p th:if="${(error == null) and (param.adderr == null) and (param.errnum == null) and (param.errempt != null) and (param.errtkn == null) and (param.addsucc == null)}" style="color: #af3535;">Пожалуйста, заполните все поля</p>
            <p th:if="${(error == null) and (param.adderr == null) and (param.errnum == null) and (param.errempt == null) and (param.errtkn != null) and (param.addsucc == null)}" style="color: #af3535;">Товар с таким названием уже существует</p>
            <p th:if="${(error == null) and (param.adderr == null) and (param.errnum == null) and (param.errempt == null) and (param.errtkn == null) and (param.addsucc != null)}" style="color: #00ff00;">Товар добавлен</p>
            <button type="submit">Добавить</button>
        </form>
        <div th:each="item : ${goods}" class="item">
            <a th:href="@{'/good/' + ${item.id}}" th:text="${item.name}" th:classappend="${item.canBeSold} ? '' : 'notav'"></a>
            <div class="numbers">
                <p th:text="'Цена: ' + ${item.price} + ' ₽'"></p>
                <p th:text="'Осталось: ' + ${item.amount} + ' шт.'"></p>
            </div>
            <button th:if="${role == 'CUSTOMER'}" th:attr="goodid=${item.id}" class="notin">Добавить в корзину</button>
        </div>
    </div>
    <script th:if="${role == 'CUSTOMER'}" th:src="@{/js/cart_add.js}"></script>
</body>
</html>