<!DOCTYPE html>
<html lang = "ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная</title>
    <link th:href="@{/css/header.css}" rel="stylesheet" >
    <link th:href="@{/css/search.css}" rel="stylesheet" >
    <link th:href="@{/css/main.css}" rel="stylesheet" >
</head>
<body>
    <header th:replace="~{fragments/header :: header(${role})}"></header>
    <h1>Найдено товаров: 1100</h1>
    <div>
        <form id="search" action="">
            <div><input type="text" name="name" placeholder="Название"></div>
            <button type="submit">Найти</button>
        </form>
        <div class="item">
            <a href="dsad" class="notav">цыуевкнаегпншрощлщ</a>
            <div class="numbers">
                <p>Цена: ₽</p>
                <p>Осталось: шт.</p>
            </div>
            <button class="notin">Добавить в корзину</button>
        </div>
        <div class="item">
            <a href="dsad" >увкаемпрниотльдбжю</a>
            <div class="numbers">
                <p>Цена: ₽</p>
                <p>Осталось: шт.</p>
            </div>
            <button class="in">В корзине</button>
        </div>
    </div>
</body>
</html>