<!DOCTYPE html>
<html lang = "ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Заказы</title>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/search.css}">
    <link rel="stylesheet" th:href="@{/css/orders.css}">
</head>
<body>
    <header th:replace="~{fragments/header :: header(${role}, 'Заказы')}"></header>
    <h1 th:text="'Найдено заказов: ' + ${numfound}"></h1>
    <div>
        <form th:if="${role == 'OWNER'}" id="search">
            <label for="minStat">От:</label>
            <select name="minStat" id="minStat">
                <option value="0" th:selected="${(minStat != null) and (minStat == 0)}">Созднан</option>
                <option value="1" th:selected="${(minStat != null) and (minStat == 1)}">Собран</option>
                <option value="2" th:selected="${(minStat != null) and (minStat == 2)}">Отправлен</option>
                <option value="3" th:selected="${(minStat != null) and (minStat == 3)}">Прибыл</option>
            </select>
            <label for="maxStat">До:</label>
            <select name="maxStat" id="maxStat">
                <option value="0" th:selected="${(maxStat != null) and (maxStat == 0)}">Созднан</option>
                <option value="1" th:selected="${(maxStat != null) and (maxStat == 1)}">Собран</option>
                <option value="2" th:selected="${(maxStat != null) and (maxStat == 2)}">Отправлен</option>
                <option value="3" th:selected="${(maxStat != null) and (maxStat == 3)}">Прибыл</option>
            </select>
            <button type="submit">Найти</button>
        </form>
        <p th:if="${error}" style="color: #af3535; padding: 1em;">Нет соединения с сервисом. Пожалуйста, попробуйте позже</p>
        <div th:if="${role == 'CUSTOMER'}" th:each="order : ${orders}" class="item">
            <p th:text="'Заказ №' + ${order.id}"></p>
            <div class="goods">
                <p>Купленные товары:</p>
                <div th:each="good : ${order.goods}" class="good">
                    <a th:href="@{'/good/' + ${good.good.id}}" th:text="${good.good.name}" th:classappend="${good.good.canBeSold} ? '' : 'notav'"></a>
                    <div class="numbers">
                        <p th:text="'Количество: ' + ${good.amount} + ' шт.'"></p>
                        <p th:text="'Стоимость: ' + ${good.price} + ' ₽'"></p>
                    </div>
                </div>
            </div>
            <p th:if="${order.status == 0}" th:text="'Статус: Созднан'"></p>
            <p th:if="${order.status == 1}" th:text="'Статус: Собран'"></p>
            <p th:if="${order.status == 2}" th:text="'Статус: Отправлен'"></p>
            <p th:if="${order.status == 3}" th:text="'Статус: Прибыл'"></p>
            <p th:text="'Стоимость: ' + ${order.price} + ' ₽'"></p>
        </div>
        <div th:if="${role == 'OWNER'}" th:each="order : ${orders}" class="item">
            <p th:text="'Заказ №' + ${order.id}"></p>
            <div class="goods">
                <p>Товары:</p>
                <div th:each="good : ${order.goods}" class="good">
                    <a th:href="@{'/good/' + ${good.good.id}}" th:text="${good.good.name}" th:classappend="${good.good.canBeSold} ? '' : 'notav'"></a>
                    <div class="numbers">
                        <p th:text="'Количество: ' + ${good.amount} + ' шт.'"></p>
                        <p th:text="'Стоимость: ' + ${good.price} + ' ₽'"></p>
                    </div>
                </div>
            </div>
            <p th:text="'Стоимость: ' + ${order.price} + ' ₽'"></p>
            <p th:text="'ID заказчика: ' + ${order.userId}"></p>
            <select class="statuses">
                <option value="0" th:selected="${order.status == 0}">Созднан</option>
                <option value="1" th:selected="${order.status == 1}">Собран</option>
                <option value="2" th:selected="${order.status == 2}">Отправлен</option>
                <option value="3" th:selected="${order.status == 3}">Прибыл</option>
            </select>
            <button th:attr="orderid=${order.id}">Назначить статус</button>
        </div>
    </div>
    <script th:if="${role == 'OWNER'}" th:src="@{/js/order_stat.js}"></script>
</body>
</html>