* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #e9e9ed;
}

body > h1 {
    font-size: 60px;
    padding: 2em;
    border-bottom: 2px solid #8f8f9d;
    background-color: #fff;
}

body > div{
    width: 80%;
    flex-grow: 1;
    align-self: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
}

#goodadd *{
    font-size: 20px;
}

#goodadd{
    width: calc(95% - 1em);
    display: flex;
    flex-direction: column;
    font-size: 20px;
    gap: 0.5em;
    margin: 5px 0;
    padding: 0.5em;
    border: 2px solid #8f8f9d;
    border-radius: 5px;
}

#goodadd > div > input{
    width: calc(100% - 4px - 0.6em);
    padding: 0.1em 0.3em;
    outline: none;
    border: 2px solid #8f8f9d;
    border-radius: 2px;
}

#goodadd > button{
    width: 6em;
    padding: 0.1em 0.3em;
    border: 1px solid #8f8f9d;
    border-radius: 2px;
    background-color: #e9e9ed;
}

#goodadd > button:hover{
    background-color: #d0d0d7;
}

.item {
    width: 90%;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    gap: 0.2em;
    margin: 5px 0;
    padding: 0.5em;
    border: 2px solid #8f8f9d;
    border-radius: 5px;
}

.item > a{
    display: block;
    width: 100%;
    padding: 0.2em;
    border-bottom: 2px solid #8f8f9d;
}

.notav {
    color: #424242;
}

.item > .numbers {
    display: flex;
    font-size: 17px;
    gap: 1em;
}

.item > button{
    font-size: 17px;
    width: 17em;
    padding: 0.1em 0.3em;
    border: 1px solid #8f8f9d;
    border-radius: 2px;
}

.item > .in {
    background-color: #a2a2a8;
}

.item > .notin {
    cursor: pointer;
    background-color: #e9e9ed;
}

.item > .notin:hover {
    background-color: #d0d0d7;
}